/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self

 */
@import "bootstrap";
@import "bootstrap-sprockets";

.btn{
  border-radius: 0px;
}

.navbar{
  margin-bottom: 0px;
  margin-right: 0px;
  border-radius: 0px;
  .navbar-brand{
    font-size: 30px;
    color: #99FF99;
  }
}


.footer{
  .footnote-a{
    float:left;
  }
  .footnote-b{
    float:right;
    margin-right: 50px;
  }
}

body{
  background-color: #1C1A1A;
  color: white;
  .jumbotron{
    border-radius: 0px;
    background-color: rgba(0,0,0,0.5)
  }
  .panel{
    border:none;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
  }
  hr{
    border-color: #5cb85c;
  }
  h1,h2, label{
    color: #5cb85c;;
  }
   input:focus, textarea:focus{
    outline-color: #99FF99;
  }

  input, textarea{
    border-color: rgba(0,0,0,0.7);
    background-color: black;
    color: #99FF99;
  }
}

.home-page{
  background-image: image-url(new_zeland_thunder); 
  background-attachment: fixed; 
  background-size: cover;
  background-position: center center;
  vertical-align: top;
  color: white;
  margin-top: 0px;
  background-color: rgba(0,0,0,0.5);
  color: white; 
  .message-row{
    input, textarea{
      border-color: #99FF99; 
    }
    background-color: rgba(0,0,0,0.8);
  }
  .jumbotron{
    border-radius: 0px;
    background-color: rgba(0,0,0,0.5)
  }
  .jumbo{
    .names{
      float: center;
      .girl-tron{
        text-align: center;
        // margin-right: 25px;
      }
      .boy-tron{
        text-align: right;
      }
    }
  }
}  

.btn-success{
  background-color: #B2477D;
  border:none;
}

.btn-success:hover{
  background-color: #FF54A9;
  border:none;
}


a{
  color: #B8A9B1;
}

// input[type="checkbox"]:checked{
//   color: #B85C8A
// }

